**Clean the raw data to be able to visualise/ model**

---

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from datetime import datetime

### Import data (don't run these anymore)

#### Import Earthwatch data

In [2]:
df_earthwatch = pd.read_csv('Earthwatch_Data/masterfile.csv')
df_earthwatch.shape

(24203, 20)

#### Import weather data

In [3]:
df_weather = pd.read_csv('Earthwatch_Data/Darksky/darksky_complete.csv')
df_weather.shape

(24203, 14)

#### Import geolocation data

In [4]:
df_location = pd.read_csv('Earthwatch_Data/Opencagedata/ocd_complete.csv', encoding = 'unicode_escape')
df_location.shape

(24203, 7)

#### Combine dataframes

In [5]:
df_complete = pd.concat([df_earthwatch, df_weather, df_location], axis = 1)
df_complete.head()

,sample_date,site_name,geolocation_lat_long,fw_bodytype,land_use,bank_vegetation,water_surface,pollution_sources,water_use,aquatic_life,...,windGust,cloudCover,ozone,continent,country,state,county,city,town,village
0,05/11/2019,Shimungalu,"-15.754, 27.784",River,Agriculture,Trees/shrubsGrass,None,Industrial discharge,BoatingIrrigationSwimmingFishingPublic water s...,Floating plantsPlants emerging from the waterF...,...,11.54,0.25,282.4,Africa,Zambia,Southern Province,None,None,None,None
1,05/11/2019,Shimungalu,"-15.754, 27.785",River,Industrial,Trees/shrubsGrass,None,Industrial discharge,BoatingIrrigationSwimmingFishingPublic water s...,Floating plantsPlants emerging from the waterF...,...,11.54,0.25,282.4,Africa,Zambia,Southern Province,None,None,None,None
2,05/11/2019,custom house,"53.348, -6.252",River,Urban Residential,No vegetation cover,LitterOily Sheen,Urban/Road discharge,Boating,Aquatic birds,...,13.85,0.7,327.1,Europe,Ireland,Leinster,County Dublin,Dublin,None,None
3,05/11/2019,Shimungalu,"-15.754, 27.785",River,Industrial,Trees/shrubsNo vegetation coverGrass,None,Industrial discharge,BoatingIrrigationSwimmingFishingPublic water s...,Floating plantsPlants emerging from the waterF...,...,11.54,0.25,282.4,Africa,Zambia,Southern Province,None,None,None,None
4,03/11/2019,borro bucine,"43.646, 11.169",Stream,Agriculture,Trees/shrubs,None,Other,Other,Plants below the surface,...,8.82,0.76,279.1,Europe,Italy,Tuscany,Florence,None,San Casciano in Val di Pesa,None

In [6]:
df_complete.country.unique()
#change PRC to China
df_complete['country'] = df_complete.country.replace ('PRC', 'China')

In [7]:
#keep only relevant columns
df_complete.drop(columns = ['sample_date_minus1', 'sample_date_minus2', 'new', 'humidity', 'pressure', 'windSpeed',
                   'windGust', 'cloudCover', 'ozone', 'lat_list', 'long_list', 'precipIntensity',
                    'temperatureHigh', 'temperatureLow'], inplace = True)

In [8]:
df_complete.to_csv('/Users/claudiadahinten/Desktop/df_complete.csv', index = False)

In [3]:
df = pd.read_csv('Earthwatch_Data/df_complete.csv')
df.shape

(24203, 27)

In [10]:
df.iloc[:,3:12]

,fw_bodytype,land_use,bank_vegetation,water_surface,pollution_sources,water_use,aquatic_life,algae,water_flow
0,River,Agriculture,Trees/shrubsGrass,None,Industrial discharge,BoatingIrrigationSwimmingFishingPublic water s...,Floating plantsPlants emerging from the waterF...,No algae,Slow
1,River,Industrial,Trees/shrubsGrass,None,Industrial discharge,BoatingIrrigationSwimmingFishingPublic water s...,Floating plantsPlants emerging from the waterF...,No algae,Slow
2,River,Urban Residential,No vegetation cover,LitterOily Sheen,Urban/Road discharge,Boating,Aquatic birds,NaN,Steady
3,River,Industrial,Trees/shrubsNo vegetation coverGrass,None,Industrial discharge,BoatingIrrigationSwimmingFishingPublic water s...,Floating plantsPlants emerging from the waterF...,NaN,Slow
4,Stream,Agriculture,Trees/shrubs,None,Other,Other,Plants below the surface,No algae,Steady
...,...,...,...,...,...,...,...,...,...
24198,Wetland,Urban Residential,Trees/shrubs,LitterOily Sheen,Residential dischargeOther,Other,Plants emerging from the waterFloating plantsF...,No algae,Steady
24199,Wetland,Urban Residential,Trees/shrubs,None,Residential dischargeUrban/Road discharge,Other,Plants emerging from the waterFloating plantsF...,No algae,Slow
24200,Wetland,Urban Residential,Trees/shrubsGrass,FoamFloating algaeLitter,Residential dischargeUrban/Road dischargeOther,IrrigationOther,Plants emerging from the waterFloating plantsF...,No algae,Still
24201,Other,Agriculture,Trees/shrubsGrass,None,Other,IrrigationPublic water supply,Frogs/toads,Evenly dispersed,Steady
24202,Wetland,Urban Residential,Trees/shrubsGrass,FoamLitterOily Sheen,Industrial dischargeResidential dischargeUrban...,Irrigation,Plants emerging from the waterFishFrogs/toadsA...,No algae,Still

### Clean Nulls

In [3]:
#replace None for Nulls in weather data
df.summary.replace(to_replace = 'None', value = np.nan, inplace = True)
df.precipIntensityMax.replace(to_replace = 'None', value = np.nan, inplace = True)

In [4]:
#replace None for Nulls in location data
df.state.replace(to_replace = 'None', value = np.nan, inplace = True)
df.county.replace(to_replace = 'None', value = np.nan, inplace = True)
df.city.replace(to_replace = 'None', value = np.nan, inplace = True)
df.town.replace(to_replace = 'None', value = np.nan, inplace = True)
df.village.replace(to_replace = 'None', value = np.nan, inplace = True)

In [5]:
df.isnull().sum(0)

sample_date                 0
site_name                   0
geolocation_lat_long        0
fw_bodytype                79
land_use                 1369
bank_vegetation          1433
water_surface            2148
pollution_sources       11354
water_use               13616
aquatic_life             5812
algae                    6278
water_flow               5466
water_level              5485
nitrate                     1
phosphate                   1
latitude                    0
longitude                   0
summary                  2178
icon                        0
precipIntensityMax       2477
continent                   0
country                     0
state                       0
county                      0
city                        0
town                        0
village                     0
dtype: int64

In [6]:
#Replace na pollution sources with "None" as this field doesn't exist in options (11000)
df['pollution_sources'] = df['pollution_sources'].replace(np.nan,'None')
df['pollution_sources'].isnull().sum()

#Replace na water use with "None" as this field doens't exist in options (13000)
df['water_use'] = df['water_use'].replace(np.nan,'None')
df['water_use'].isnull().sum()

0

In [7]:
#delete any columns with no body type as they contain no further information (79)
df = df[~df['fw_bodytype'].isnull()]

In [8]:
#replace water_flow nans for "standing" waterbodys to still
mask = (df['fw_bodytype'] == 'Pond') & (df['water_flow'].isnull())
df['water_flow'].mask(mask, 'Still', inplace = True)

mask = (df['fw_bodytype'] == 'Lake') & (df['water_flow'].isnull())
df['water_flow'].mask(mask, 'Still', inplace = True)

mask = (df['fw_bodytype'] == 'Wetland') & (df['water_flow'].isnull())
df['water_flow'].mask(mask, 'Still', inplace = True)

In [9]:
df.isnull().sum()

sample_date                0
site_name                  0
geolocation_lat_long       0
fw_bodytype                0
land_use                1290
bank_vegetation         1354
water_surface           2069
pollution_sources          0
water_use                  0
aquatic_life            5733
algae                   6199
water_flow              4513
water_level             5406
nitrate                    1
phosphate                  1
latitude                   0
longitude                  0
summary                 2162
icon                       0
precipIntensityMax      2477
continent                  0
country                    0
state                      0
county                     0
city                       0
town                       0
village                    0
dtype: int64

### Replace Unknown category

In [10]:
#replace asc with likely attribute for bodytype
mask = ((df['water_flow'] == 'Asc') & (df['fw_bodytype'] == 'River'))
df['water_flow'].mask(mask, 'Steady', inplace = True)

mask = ((df['water_flow'] == 'Asc') & (df['fw_bodytype'] == 'Lake'))
df['water_flow'].mask(mask, 'Still', inplace = True)

mask = ((df['water_flow'] == 'Asc') & (df['fw_bodytype'] == 'Pond'))
df['water_flow'].mask(mask, 'Still', inplace = True)

In [11]:
# fill precipIntensityMax nulls with 0 as summary states no rain for these days
df.precipIntensityMax.fillna(0, inplace = True)
df.precipIntensityMax = df.precipIntensityMax.astype(float)

for i in df[df['precipIntensityMax'].isnull()]['summary']:
    try:
        if 'rain' in i:
            print('yes')
        else:
            print('no')
    except:
        np.nan

### Add Features

#### Population proxy

In [12]:
#create population proxy columns as a way to determine the size of a population based on whether sample was
#taken near a city, town or village
city_list = []
for i in df.city:
    if i!='None':
        city_list.append(1)
    else:
        city_list.append(0)

town_list = []
for i in df.town:
    if i!='None':
        town_list.append(1)
    else:
        town_list.append(0)
        
village_list = []
for i in df.village:
    if i!='None':
        village_list.append(1)
    else:
        village_list.append(0)

In [13]:
df['city_proxy'] = city_list
df['town_proxy'] = town_list
df['village_proxy'] = village_list
df['other'] = df['city_proxy'] - df['town_proxy'] - df['village_proxy']

In [14]:
other_list = []
for i in df.other:
    if i== 0:
        other_list.append(1)
    else:
        other_list.append(0)

In [15]:
df['other_proxy'] = other_list

#### Create separate columns for water body category

In [16]:
# add a water_body flow category
water_body_category = []
for row in df['fw_bodytype']:
    try:
        if 'River' in row or 'Stream' in row:
            water_body_category.append('Flowing')
        elif 'Lake' in row or 'Pond' in row or 'Wetland' in row:
            water_body_category.append('Standing')
        else:
            water_body_category.append('Other')
    except:
        water_body_category.append(np.nan)
    
df['water_body_category'] = water_body_category

In [17]:
pd.to_datetime(df['sample_date'])
df['year'] = pd.DatetimeIndex(df['sample_date']).year  
df['month'] = pd.DatetimeIndex(df['sample_date']).month
df['quarter'] = pd.DatetimeIndex(df['sample_date']).quarter

### Dummify multi-categories

#### Bank Vegetation

In [18]:
#Iterate through set to create new columns and add to column if word contained in row
bank_vegetation_set = {'Trees/shrubs', 'Grass', 'No vegetation cover', 'Other'}

bank_dict = {}

for item in bank_vegetation_set :
    bank_dict[item]=[]

for row in df['bank_vegetation']:
    for item in bank_vegetation_set:
        try:
            if item in row:
                bank_dict[item].append(1)
            else:
                bank_dict[item].append(0)
        except:
            bank_dict[item].append(np.nan)
            
bank_vegetation = pd.DataFrame(bank_dict)
bank_vegetation
#bank_vegetation.sum().plot.bar();

bank_vegetation.rename(columns = {'Trees/shrubs':'bankveg_trees',
                                 'Grass': 'bankveg_grass',
                                 'No vegetation cover' : 'bankveg_noveg',
                                 'Other': 'bankveg_other'}, inplace = True)

#### Water Surface

In [19]:
watsur_set = {'None', 'Foam', 'Floating algae', 'Litter',  'Oily'}

watsur_dict = {}

for item in watsur_set:
    watsur_dict[item]=[]

for row in df['water_surface']:
    for item in watsur_set:
        try:
            if item in row:
                watsur_dict[item].append(1)
            else:
                watsur_dict[item].append(0)
        except:
            watsur_dict[item].append(np.nan)

watsur = pd.DataFrame(watsur_dict)
watsur
#watsur.sum().plot.bar();

watsur.rename(columns = {'None':'watsur_none',
                                 'Foam': 'watsur_foam',
                                 'Floating algae': 'watsur_floatalg',
                                 'Litter': 'watsur_litter',
                                 'Oily': 'watsur_oily'}, inplace = True )

#### Pollution

In [20]:
pollution_set = {'Industrial discharge', 'Residential discharge', 'Urban/Road discharge', 'Other'}

pol_dict = {}

for item in pollution_set:
    pol_dict[item]=[]

for row in df['pollution_sources']:
    for item in pollution_set:
        try:
            if item in row:
                pol_dict[item].append(1)
            else:
                pol_dict[item].append(0)
        except:
            pol_dict[item].append(np.nan)

pollution = pd.DataFrame(pol_dict)
pollution
#pollution.sum().plot.bar();

pollution.rename(columns = {'Industrial discharge':'pol_industrial',
                                 'Residential discharge': 'pol_residential',
                                 'Urban/Road discharge': 'pol_road',
                                 'Other': 'pol_other'}, inplace = True )

#### Water Use

In [21]:
wateruse_set = {'Fishing', 'Swimming', 'Boating', 'Irrigation', 'Public water supply', 'Other'}

watuse_dict = {}

for item in wateruse_set:
    watuse_dict[item]=[]

for row in df['water_use']:
    for item in wateruse_set:
        try:
            if item in row:
                watuse_dict[item].append(1)
            else:
                watuse_dict[item].append(0)
        except:
            watuse_dict[item].append(np.nan)

wateruse = pd.DataFrame(watuse_dict)
wateruse
#wateruse.sum().plot.bar();

wateruse.rename(columns = {'Fishing':'watuse_fishing',
                                 'Swimming': 'watuse_swimming',
                                 'Boating': 'watuse_boating',
                                 'Irrigation': 'watuse_irrigation',
                           'Public water supply': 'watuse_watersupply' ,
                           'Other': 'watuse_other' }, inplace = True )

#### Aquatic Life

In [22]:
aquaticlife_set = {'Plants below the surface', 'Plants emerging from the water', 'Floating plants', 'Fish', 
               'Frogs/toads', 'Aquatic birds', 'None', 'Other'}

aquaticlife_dict = {}

for item in aquaticlife_set:
    aquaticlife_dict[item]=[]

for row in df['aquatic_life']:
    for item in aquaticlife_set:
        try:
            if item in row:
                aquaticlife_dict[item].append(1)
            else:
                aquaticlife_dict[item].append(0)
        except:
            aquaticlife_dict[item].append(np.nan)

aquaticlife = pd.DataFrame(aquaticlife_dict)
aquaticlife
#aquaticlife.sum().plot.bar();


aquaticlife.rename(columns = {'Plants below the surface':'aqlife_plantsbelow',
                                 'Plants emerging from the water': 'aqlife_plantsemerge',
                                 'Floating plants': 'aqlife_plantsfloat',
                                 'Fish': 'aqlife_fish',
                           'Frogs/toads': 'aqlife_frogs' ,
                           'Aquatic birds': 'aqlife_birds',
                             'None': 'aqlife_none',
                             'Other': 'aqlife_other'}, inplace = True )

#### Algae

In [23]:
algae_set = {'No algae', 'Evenly dispersed', 'Floating mats', 'Attached', 'Blue-green scum'}

algae_dict = {}

for item in algae_set:
    algae_dict[item]=[]

for row in df['algae']:
    for item in algae_set:
        try:
            if item in row:
                algae_dict[item].append(1)
            else:
                algae_dict[item].append(0)
        except:
            algae_dict[item].append(np.nan)

algae = pd.DataFrame(algae_dict)
algae
#algae.sum().plot.bar();


algae.rename(columns = {'No algae':'algae_noalg',
                                 'Evenly dispersed': 'algae_evenly',
                                 'Floating mats': 'algae_floating',
                                 'Attached': 'algae_attached',
                           'Blue-green scum': 'algae_scum' ,
                           'Aquatic birds': 'algae_birds',
                             'None': 'algae_none',
                             'Other': 'algae_other'}, inplace = True )

In [24]:
df.columns

Index(['sample_date', 'site_name', 'geolocation_lat_long', 'fw_bodytype',
       'land_use', 'bank_vegetation', 'water_surface', 'pollution_sources',
       'water_use', 'aquatic_life', 'algae', 'water_flow', 'water_level',
       'nitrate', 'phosphate', 'latitude', 'longitude', 'summary', 'icon',
       'precipIntensityMax', 'continent', 'country', 'state', 'county', 'city',
       'town', 'village', 'city_proxy', 'town_proxy', 'village_proxy', 'other',
       'other_proxy', 'water_body_category', 'year', 'month', 'quarter'],
      dtype='object')

### Add all new features into original dataframe

In [25]:
df_multi = pd.concat([df, algae, aquaticlife, wateruse, pollution, watsur, bank_vegetation], axis=1)

In [26]:
#drop unnecessary columns
df_multi.drop(columns = ['geolocation_lat_long', 'bank_vegetation', 'water_surface', 'pollution_sources',
                         'water_use', 'aquatic_life', 'algae', 'summary', 'icon', 'other'], inplace = True)

In [27]:
df_multi.dropna(inplace = True)

In [28]:
df_multi.to_csv('Eartwatch_Data/df_modelling.csv', index = False)

In [11]:
pd.read_csv('Earthwatch_Data/df_modelling.csv')

,sample_date,site_name,fw_bodytype,land_use,water_flow,water_level,nitrate,phosphate,latitude,longitude,...,pol_road,watsur_oily,watsur_litter,watsur_foam,watsur_none,watsur_floatalg,bankveg_noveg,bankveg_trees,bankveg_other,bankveg_grass
0,05/11/2019,Shimungalu,River,Agriculture,Slow,Low,0.35,0.150,-15.754000,27.784000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
1,05/11/2019,Shimungalu,River,Industrial,Slow,Low,0.35,0.075,-15.754000,27.785000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
2,03/11/2019,borro bucine,Stream,Agriculture,Steady,Average,7.50,0.075,43.646000,11.169000,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,03/11/2019,Dawlish Close 2,Stream,Urban Residential,Surging,High,3.50,0.010,52.630478,-1.056443,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
4,03/11/2019,Abington Ford,River,Agriculture,Slow,Low,12.00,1.200,52.117959,0.239236,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16032,26/03/2013,River Beam,River,Urban Park,Steady,Low,7.50,0.075,51.555377,0.187313,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
16033,26/03/2013,River Beam,River,Urban Park,Steady,Average,7.50,0.075,51.555418,0.187312,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
16034,26/03/2013,River Beam,River,Grassland/shrub,Steady,Average,7.50,0.075,51.555418,0.187304,...,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0
16035,26/03/2013,River Beam,River,Grassland/shrub,Surging,Average,7.50,0.075,51.555442,0.187304,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
16036,26/03/2013,River Beam,River,Urban Park,Steady,High,7.50,0.150,51.555421,0.187299,...,1.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0

In [ ]:
df_multi.to_csv('Earthwatch_Data/df_eda.csv', index = False)

In [30]:
df_multi.columns

Index(['sample_date', 'site_name', 'fw_bodytype', 'land_use', 'water_flow',
       'water_level', 'nitrate', 'phosphate', 'latitude', 'longitude',
       'precipIntensityMax', 'continent', 'country', 'state', 'county', 'city',
       'town', 'village', 'city_proxy', 'town_proxy', 'village_proxy',
       'other_proxy', 'water_body_category', 'year', 'month', 'quarter',
       'algae_evenly', 'algae_attached', 'algae_floating', 'algae_scum',
       'algae_noalg', 'aqlife_frogs', 'aqlife_fish', 'aqlife_other',
       'aqlife_plantsemerge', 'aqlife_none', 'aqlife_plantsbelow',
       'aqlife_birds', 'aqlife_plantsfloat', 'watuse_swimming', 'watuse_other',
       'watuse_watersupply', 'watuse_irrigation', 'watuse_fishing',
       'watuse_boating', 'pol_industrial', 'pol_other', 'pol_residential',
       'pol_road', 'watsur_oily', 'watsur_litter', 'watsur_foam',
       'watsur_none', 'watsur_floatalg', 'bankveg_noveg', 'bankveg_trees',
       'bankveg_other', 'bankveg_grass'],
      dtype='object')